<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{{ google.xhtml }}
<head>
<title>Lunch Map</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&region=JP"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">
  //<![CDATA[
var marker;
var dartByID = {};
var map;


function load_map() {
	
  var myLatlng = new google.maps.LatLng("38.513788","140.734863");
  var myOptions = {
    zoom: 6,
    center: myLatlng,
    mapTypeControl: false,
	streetViewControl: false,
	zoomControlOptions: {
        			position: google.maps.ControlPosition.LEFT_CENTER
    			},
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}


{% for dart in darts %}
dartByID[{{dart.id}}] = {
    name: "{{dart.name}}",
    url: "{{dart.url}}",
    lat: {{dart.lat}},
    lng: {{dart.lng}}
};
{% endfor %}


$(document).ready(function () {
    function activatedarts() {
        // Add dart click handler
        $('.dart').each(function () {
            $(this).click(function() {
                var dart = dartByID[this.id];
                var center = new google.maps.LatLng(dart.lat, dart.lng);
                if (marker) marker.setMap();
                marker = new google.maps.Marker({
                				map: map, 
                				position: center,
                				title: dart.name
                				});
                map.panTo(center);
                
                var infowindow = new google.maps.InfoWindow({
						content: '<div id="title">レストラン: '+ marker.title +'</div>'
						});
		
		google.maps.event.addListener(marker, 'click', function() {
								infowindow.open(map,marker);
								map.setZoom(13);	
								});
            }).hover(
                function () {this.className = this.className.replace('OFF', 'ON');},
                function () {this.className = this.className.replace('ON', 'OFF');}
            );
        });
    }
    activatedarts();
});  
  //]]>
</script>
<style>
html { 
	height: 100% 
	}
body { height: 100%; margin: 0; padding: 0 }

#map_canvas {
	width: 800px; 
	height: 600px; 
	z-index: 5; 
	top: 0; 
	left: 0;
	float: left;
	}
#options { float: left; margin-left: 60px;}
#search {
	position: relative;
	margin: 20px auto;
	z-index: 6;
	}
#darts {
	position: relative;
	float: left;
	}
.linkOFF {color: darkblue}
.linkON {color: white; background-color: darkblue}
</style>
</head>
<body onload="load_map()"> 
  <div id="map_canvas"></div>
  <div id="options">
	  <div id="search">
	  	<form action="/search/" method="get">
		都道府県 <select name="prefecture">
	  		<option value="hokkaido">北海道</option>
	  		<option value="aomori">青森</option>
	  		<option value="mercedes">秋田</option>
	  		<option value="audi">山形</option>
	  		<option value="iwate">岩手</option>
			<option value="miyagi">宮城</option>
			<option value="fukushima">福島</option>
			<option value="tokyo">東京</option>
			<option value="kanagawa">神奈川</option>
			<option value="saitama">埼玉</option>
			<option value="chiba">千葉</option>
			<option value="tochigi">栃木</option>
			<option value="ibaraki">茨城</option>
			<option value="gunma">群馬</option>
			<option value="aichi">愛知</option>
			<option value="gifu">岐阜</option>
			<option value="shizuoka">静岡</option>
			<option value="mie">三重</option>
			<option value="niigata">新潟</option>
			<option value="yamanashi">山梨</option>
	       	 	<option value="nagano">長野</option>
			<option value="ishikawa">石川</option>
			<option value="toyama">富山</option>
			<option value="fukui">福井</option>
			<option value="osaka">大阪</option>
			<option value="hyogo">兵庫</option>
			<option value="kyoto">京都</option>
			<option value="shiga">滋賀</option>
			<option value="nara">奈良</option>
			<option value="wakayama">和歌山</option>
			<option value="okayama">岡山</option>
			<option value="hiroshima">広島</option>
			<option value="tottori">鳥取</option>
			<option value="shimane">島根</option>
			<option value="yamaguchi">山口</option>
			<option value="kagawa">香川</option>
			<option value="tokushima">徳島</option>
			<option value="ehime">愛媛</option>
			<option value="kochi">高知</option>
			<option value="fukuoka">福岡</option>
			<option value="saga">佐賀</option>
			<option value="nagasaki">長崎</option>
			<option value="kumamoto">熊本</option>
			<option value="oita">大分</option>
			<option value="miyazaki">宮崎</option>
			<option value="kagoshima">鹿児島</option>
			<option value="okinawa">沖縄</option>
		</select>
		 & <input type="text" name="station" placeholder="最寄り駅の駅名">
		<input type="submit" value="Search"> 
	    </form>
	  </div>
	  <div id="darts">
	  	{{content}}
	  </div>
  </div>
</body>
</html>
